body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #0d0d0d, #000000);

  overflow: hidden;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: -200px;   /* thoda space from top */
  margin-bottom: 50px;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: whitesmoke;
  
}

.clock-container {
  text-align: center;
  max-width: 100%;
  padding: 10px;
  margin-top: 30px;
 
}

.time-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;

}

.box {
   
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.65);
  border: 2px solid #00ffcc;
  border-radius: 15px;
  box-shadow: 0 0 20px #00ffcc66;

}
.box p{
    margin-top: 7px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 20px;
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box span:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.box #ampm {
  font-size: 2rem;
  margin-top: 2px;
  opacity: 0.8;
  font-family: Arial, Helvetica, sans-serif;
}

#date {
    margin-top: 50px;
  font-size: 1.5rem;
  opacity: 0.9;
  animation: fadeSlide 2s ease;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes fadeSlide {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Decorative moving circles */
.circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, #00ffcc33, transparent);
  animation: move 10s linear infinite;
}

.circle.small { width: 80px; height: 80px; }
.circle.medium { width: 150px; height: 150px; }
.circle.large { width: 250px; height: 250px; }

@keyframes move {
  from { transform: translateY(0) rotate(0); }
  to { transform: translateY(-100vh) rotate(360deg); }
}
